.env
client_secret_392315409835-d5a7kej01vl3q9kveda8unjl02gtg72r.apps.googleusercontent.com.json
secret-robot-438107-g6-18de296b4848.json
service_account.json
.idea
.venv
__pycache__
bot/__pycache__
bot/routers/__pycache__
bot/services/__pycache__
bot/web/__pycache__
providers/__pycache__
test.pydb.db
.env
data/
backups/
__pycache__/
*.log
db.db
.env
data/
backups/
__pycache__/
*.log
