ai-assistant-tg.duckdns.org {
    encode zstd gzip

    # /privacy.html
    handle /privacy.html {
        root * /site
        file_server
    }

    # Если хочешь, чтобы /privacy тоже открывал тот же файл
    handle /privacy {
        root * /site
        try_files {path}.html {path} /privacy.html
        file_server
    }

    handle_path /google* {
        root * /site
        file_server
    }

    # Главная страница "/"
    handle / {
        root * /site
        file_server
    }

    # Всё остальное — в приложение (OAuth, API)
    handle {
        reverse_proxy app:8080 {
            header_up X-Forwarded-Proto {scheme}
            header_up X-Forwarded-Host {host}
        }
    }
}
